.dis-block{
	display: block !important;
}
.imagePreview {
    border: 1px solid #eee;
    height: 200px;
    margin-bottom: 5px;
    width: 200px;
    background-size: 100% 100%;
}

.imagePreviewLic,.imagePreviewVeh {
    border: 1px solid #eee;
    height: 200px;
    margin-bottom: 5px;
    width: 350px;
    background-size: 100% 100%;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 7px;
}
#pimg, #lic1, #lic2, #reg, #ins{
	height: 100%;
	width: 100%;
}
.margin-right-100{
    margin-right: 100px;
}
.margin-bottom-5{
    margin-bottom:5px;
}
.margin-left-10{
    margin-left: 10px
}
.margin-left-40{
    margin-left: 40px
}
