.dis-block{
	display: block !important;
}
.imagePreview {
    border: 1px solid #eee;
    height: 200px;
    margin-bottom: 5px;
    width: 200px;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 7px;
}
#pimg{
	height: 100% !important;
	width: 100% !important;
}
.margin-right-100{
    margin-right: 100px;
}
.margin-bottom-5{
    margin-bottom:5px;
}
.margin-left-10{
    margin-left: 10px
}
.margin-left-40{
    margin-left: 40px
}
.allow-field{
    cursor: pointer;
}
